<div class="container">
    <div *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">
        <div class="list-item">
            <div (click)="open(content, auto)">
                <img src="assets/static/list/icon/eye-solid.svg" width="25px" height="25px" alt="">
            </div>
            <div>{{auto.descripcioncorta}}</div>
        </div>
    </div>
    <ngb-pagination class=" text-dark d-flex justify-content-center" [collectionSize]="autos.length" [(page)]="page"
        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title small" id="modal-basic-title">{{autoSeleccionado.descripcioncorta}}</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="auto-info small">
            <label><b>Marca:</b> {{autoSeleccionado.marca}}</label>
            <label><b>Submarca:</b> {{autoSeleccionado.submarca}}</label>
            <label><b>Modelo:</b> {{autoSeleccionado.modelos}}</label>
            <label><b>Descripcion:</b> {{autoSeleccionado.descripcioncorta}}</label>
            <label><b>Ocupantes:</b> {{autoSeleccionado.Ocupantes}}</label>
        </div>
    </div>
</ng-template>